 <div class="res col-md-6">         
    <div class="res_header" data-img="hero">

    </div>

    <div class="res_info">

        <h1>Cella</h1>
        <h3>CELLA-FM IS A STUDENT RUN INTERNET RADIO STATION HERE TO PROMOTE THE LOCAL SCOTTISH TALENT AND UNDERGROUND MUSIC</h3>

        <p>Cella-FM's inital concept was thought up by Scott Templeton whilst completing his Web Development degree at Edinburgh Napier University. Combinding his intrests in Techno & House music with Web Development to create an outlet for his & friends mixes later evoled into Cella.</p>
    </div>      
</div>