<div class="main_player col-lg-4 col-md-4">
    <div class="main_player_info">

        <div class="info">
            <h2 id="showTitle">Cella-FM: Recordings</h2>
            <p id="showDescription">Currently playing is a collection of mini mixes or shows by the our residents and guests.</p>
            <button onclick="togglePlayer()" class="btn"><span id="icon_text">Play Now </span>

            <i id="icon_main" class="fas fa-play"></i></button>
        </div>
    </div>
</div>

<div class="main col-lg-8 col-md-8">
    <div class="main_container">

        <ul class="time_tabs">
            <li class="tab_link" data-time="day-1">Monday</li>
            <li class="tab_link" data-time="day-2">Tuesday</li>
            <li class="tab_link" data-time="day-3">Wednesday</li>
            <li class="tab_link" data-time="day-4">Thursday</li>
            <li class="tab_link" data-time="day-5">Friday</li>
            <li class="tab_link" data-time="day-6">Saturday</li>
            <li class="tab_link" data-time="day-0">Sunday</li>
        </ul>

        <div id="day-1" class="time_wrapper current_list">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>

        <div id="day-2" class="time_wrapper">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>

        <div id="day-3" class="time_wrapper">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>

        <div id="day-4" class="time_wrapper">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>

        <div id="day-5" class="time_wrapper">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>
        
        <div id="day-6" class="time_wrapper">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>
        
        <div id="day-0" class="time_wrapper">
            <ul class="time_list">
                <li class="time_card">
                    <p>20:00 - 23:00</p>
                    <h3>Cella-FM: Recordings</h3>
                </li>
            </ul>
        </div>

    </div>
</div>